# VerificationStatus

## Enum Variants

| Name | Value |
|---- | -----|
| Processing | Processing |
| Ready | Ready |
| Expired | Expired |
| Verified | Verified |
| Error | Error |


[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


